body {
    background-size: cover;
    font-family: mordarn;
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: black;
}

@font-face {
    font-family: mordarn;
    src: url('SF-UI-Display-Medium.otf');
}

canvas {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-left: 240px;
}

button {
    background-color: #E8E8E800;
    border-radius: 30%;
    border-width: 0px;
    font-family: mordarn;
}

.button-default {
    background-color: #E8E8E800;
    border-radius: 30%;
    border-width: 0px;
    font-family: mordarn;

}

#header {
    font-family: mordarn;
    position: fixed;
    font-family: mordarn;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: rgb(31, 30, 30, 0.1);
    font-size: 25px;
    font-weight: bold;
}






































































































.copy_right_footer {
    position: fixed;
    font-family: mordarn;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: rgb(31, 30, 30, 0.1);
    font-size: 25px;
    font-weight: bold;

}

.copy_top_footer {
    position: fixed;
    font-family: mordarn;
    width: 100%;
    top: 0;
    text-align: center;
    background-color: rgb(31, 30, 30, 0.1);
    font-size: 25px;
    font-weight: bold;
}

.div_speed {
    float: left;
}

.div_speed_image {
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 100px;

}

h3 {
    margin-left: 100px;

    border-radius: 30px;
}

.div_volume {
    float: right;
    margin-right: 100px;
}

.btn {
    width: 100%;
}